body {
  overflow: hidden;
}
.contain {
  width: 100%;
  height: 100vh;
  display: flex;
}

.col1,
.col2 {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

form {
  margin: 3% 15%;
}

.col1 {
  border-right: 2px solid rgb(133, 130, 130);
}

.submit {
  width: 82%;
}

.view {
  width: 13%;
  margin-left: 72%;
  margin-top: 1%;
}
input {
  width: 40px;
}

.credentials {
  padding: 10px;
  margin: 10px 15%;
  background-color: rgb(144, 187, 252);
  border-radius: 10px;
}

p {
  background-color: white;
  padding: 10px;
  margin: 30px;
  border-radius: 10px;
}

.table {
  margin: 5%;
  text-align: center;
  width: 90%;
  overflow: scroll;
  height: 80%;
  border: 2px solid black;
}

th {
  border: 2px solid black;
}
tr {
  height: 30%;
  border: 2px solid black;
}
td {
  font-size: 1.5rem;
  border: 2px solid black;
}
